.html-style1{
    background-color: aliceblue;
}

/* Navbar Style */
.div-navbar{
    margin-top: 20px;
    height: 70px;
    width: 100%;
    border-radius: 10px;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    position: fixed;
}

.imagem-logo{
    margin-top: 5px;
    float: right;
    margin-right: 15px;
}

.botao-navbar{
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    float: right;
    margin-top: 10px;
    margin-right: 40px;
    width: 150px;
    height: 50px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-family: arial;
    font-weight: bold;
    font-size: 20px;
}

.menu-text{
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-family: arial;
    float: left;
    margin-left: 10px;
    position: relative;
    bottom: 10px;
}

#menucheck{
    display: none; /* Tira a o marcador da checkbox */
}

input[type="checkbox"]:checked ~ .menu-lateral{
    position: absolute;
    left: 10;
}

.menu-icon{
    margin-left: 15px;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    float: left;
}

.menu-icon:hover{
    cursor: pointer;
}

.nav-menu-lateral{
    width: 100%;
    top: 60px;
    position: relative;
}

.link-site{
    color: black;
    font-weight: bold;
    font-family: arial;
    font-size: 15px;
    padding-top: 3px;
    padding-left: 10px;
    opacity: 0;
}


/* Style menu lateral */
.menu-lateral{
    left: -360;
    top: 100px;
    border-radius: 10px;
    width: 350px;
    height: 535px;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    position: relative;
    transition: all .2s linear;
}

.menu-lateral-desativado{
    left: -350px;
}

.div-menu-lateral{
    height: 80px;
}

.botao-menu{
    position: relative;
    width: 200px;
    height: 50px;
    border: 0;
    border-radius: 10px;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    color: white;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    margin-left: 75px;
}

.botao-menu:hover{
    cursor: pointer;
}

.botao-social-media{
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 100%;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    cursor: pointer;
}

/* Area de contador */
.botao-confirmar{
    width: 100px;
    height: 50px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    border: 0;
    border-radius: 10px;
    
}

.botao-confirmar:hover{
    cursor: pointer;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

.text-area{
    width: 600px;
    height: 200px;
}

.campo-contador{
    width: 150px;
    height: 100px;
    border: 1px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    text-align: center;
    font-size: 20px;
}

.h1{
    color: black;
    font-family: arial;
    font-weight: bold;
    font-size: 40px;
}

.texto-descricao{
    color: black;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
}

.texto-contador{
    color: black;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
}


.div1{
    margin-top: 170px;
    position: fixed;
    width: 100%;
}


/* Style pagina about */
.div1About{
    margin-top: 120px;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    width: 90%;
    height: 600px;
    border-radius: 10px;
    left: 80px;
    position: relative;
}

.h1-about{
    color: white;
    font-size: 55px;
    font-family: arial;
    font-weight: bold;
    padding-top: 20px;
}

.h2-about{
    color: white;
    font-size: 40px;
    font-family: arial;
    font-weight: bold;
    padding-top: 5px;
}

.text-about{
    color: white;
    font-size: 30px;
    font-family: arial;
    font-weight: bold;
    padding-top: 5px;
}

#emailText{
    color: white;
    font-size: 25px;
    font-family: arial;
    font-weight: bold;
    padding-top: 5px;
}

.botao-social-media-about{
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 100%;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    cursor: pointer;
}